@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .homepage-bg {
    @apply bg-no-repeat bg-center bg-cover bg-fixed;
    background-image: url("../src/assets/homepagebg.svg");
  }

  .poke-arena-bg {
    @apply bg-no-repeat bg-center bg-cover bg-fixed;
    background-image: url("../src/assets/poke_arena_fightbg.svg");
  }

  .poke-opp-select {
    @apply bg-no-repeat bg-center bg-cover bg-fixed;
    background-image: url("../src/assets/pokemon_opponent_selection_pagebg.svg");
  }

  .poke-select {
    @apply bg-no-repeat bg-center bg-cover bg-fixed;
    background-image: url("../src/assets/pokemon_selection_pagebg.svg");
  }

  .text-shadow {
    text-shadow: -1px 0 black, 0 1px black, 5px 0 black, 0 -1px black;
  }
}

.playerPokemon {
  @apply animate-bounce;
}

.opponentPokemon {
  @apply animate-bounce;
}

.special-attack-animation {
  animation: play both steps(var(--frames)) var(--runs);
  animation-timeline: scroll();
}

@keyframes play {
  to {
    object-position: 100% 0;
  }
}

.loading-screen {
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-button {
  width: 200px;
  height: 20px;
  background-color: #ddd;
  animation: loading 3s linear infinite;
}

